#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainTitle {
  max-width: 435px
}

.buttonContainer {
  margin-top: 10px;
  border: 1px solid #949494;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.counterContainer {
  border: 1px solid #949494;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.appContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.setContainer {
  background-color: #edecec;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 10px;
  padding: 30px;
}

.setMenuContainer {
  border: 1px solid #949494;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
